body{
    margin: 0;
    padding: 0;
}
body a {
    text-decoration: none;
}
input{
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
    font-size: 1rem;
}
header{
    background: #a6a18a;
    height: 70px;
}
header h1{
    margin-top: 3%;
}
header h1 a{
    text-decoration: none;
    color: #fff;
}
header h1 a:hover{
    color: #fff;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    padding: 22px;
    color: #fff;
}
header ul li ul{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
.card img{
    width: 50%;
}
.footer{
    background: #37362d;
    color: #d3d3d3;
    position: relative;
}
.footer .footer-section{
    padding: 22px;
}
.footer h4, .footer h3{
    color: white;
}
.footer .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: #ffffff;
}
.footer .about .socials a:hover{
    border: 1px solid white;
    color: white;
    transition: all .3s;
}
.footer .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}
.footer .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer .contact-form .contact-input{
    background: #3d3b2f;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}
.footer .contact-form .contact-input:focus{
    background: #1a1a1a;
}
.footer .contact-form .contact-btn{
    float: right;
    font-size: 1.1em;
    color: #fff;
}
